body {
  background: #000;
  color: #fff;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.logo {
  max-width: 120px;
  margin-bottom: 20px;
}
.container {
  max-width: 600px;
  padding: 20px;
}
